

.right{
    width: 100%;
}




                 /* .header */
  .header{
    width: 100%;
    justify-content: space-between;
    padding: 15px 25px;
    
}
.header p{
    font-weight: 500;
    font-size: 30px;
    color: #615d5d;
}
img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    /* display: block; */
}
                           /* .all */
.all{
    width: 70%;
    /* margin: 30px  150px ; */
    padding: 30px;
   margin: auto;

}
.all .search .p{
font-size: 45px;
font-weight: 700;
line-height: 60px;
letter-spacing: 2px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: var(--border);
margin: 30px;
padding-left: 20px;

}
.all .search .p p{
   background: -webkit-linear-gradient(90deg ,rgb(35, 35, 199) , rgb(238, 37, 37));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
}
.cards .card{
    width: 180px;
    height: 200px;
    background-color:var(--white);
    text-wrap:wrap;
    padding: 30px;
    border-radius: 30px;
    position:relative;
    cursor: pointer;
}
.cards .card:hover{
    background-color: #85d6d5;
    rotate: 7deg;
}
.cards .card img{
    background-color: azure;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* ////////////////////////////////////////////////////// */
                             /* .bottom */
   .bottom{
    width: 750px;
    height: 50px;
    justify-content: space-between;
    background-color:var(--white);
    margin-left: 50px;
    text-wrap:wrap ;
    gap: 50px;
    border-radius: 30px;
    position: relative;
    
   }
   .bottom .input{
    width:500px ;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    z-index: 10;   
   }
   .bottom .input input{
    width: 90%;
    border: none;
    outline: none;
    background-color: var(--white);
    
    padding: 15px 30px;

   }
   .photo{
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 30px;
   }
 .bottom .pp{
    margin: 30px auto;
    font-size: 15px;
    color:  #726d6d;

 }
/* /////////////////////////////////////// */
                       /* .result */
.result{
    width: 80%;
 height:50vh ;
padding: 5px;
overflow-y: scroll;
transition: 1s;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-down , .result-up{
 gap: 20px;
 margin: 20px;
 transition:1s;

 }
 .result-down p{
    padding:0px  20px;
    font-size: 15px;
    line-height: 20px;
    transition:1s;
 }
/* /////////////////////////////// */
 .load{
    width: 100%;
    flex-direction: column;
    gap: 13px;
 }
 .load hr{
    border-radius: 7px;
    border: none;
    background-color: aliceblue;
    background: linear-gradient( to right , rgb( 93 , 188 , 252) , #fff , rgb( 93 , 188 , 252) );
    background-size:800px 50px ;
    height: 20px;
    animation: load  2s infinite linear ;
 }
@keyframes load {
    0%{
         background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}









 /* rgb( 93 , 188 , 252) */
